/* CLEAROUTS, RESETS, PRESETS */
/* CLEAROUTS, RESETS, PRESETS */
/* CLEAROUTS, RESETS, PRESETS */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

:root {
    --black: rgb(14, 5, 5);
    --darkRed: rgb(80, 0, 0);
    --white: rgb(255, 245, 245);

    --font-main: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-weight: 700;
    color: var(--white);
    background-color: var(--black);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* outline: red 1px solid; */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#site-topper {
    height: 4rem;
    width: 100%;
}

#site-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

.bg {
    background: 
        repeating-radial-gradient(
        at top right, 
        var(--darkRed) 0%, 
        var(--black) 3%, 
        var(--black) 4%, 
        var(--darkRed) 7%),
        
        repeating-radial-gradient(
        at top left, 
        var(--darkRed) 0%, 
        var(--black) 3%, 
        var(--black) 4%, 
        var(--darkRed) 7%),

        repeating-radial-gradient(
        at bottom left, 
        var(--darkRed) 0%, 
        var(--black) 3%, 
        var(--black) 4%, 
        var(--darkRed) 7%),

        repeating-radial-gradient(
        at bottom right, 
        var(--darkRed) 0%, 
        var(--black) 3%, 
        var(--black) 4%, 
        var(--darkRed) 7%);
            
    background-blend-mode: lighten;
    background-size: 1400px 1400px;
    background-position: center center;
}

i {
    color: var(--white);
    font-size: 1.25rem;
}


/* BUTTONS */
/* BUTTONS */
/* BUTTONS */

button {
    position: relative;
    box-sizing: border-box;
    padding: .25em;
    width: 120px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    background-color: var(--black);
    color: var(--white);
    border: .5px solid var(--white);
    cursor: pointer;
    transition: all 500ms ease;
}

button:hover,
button:focus {
    text-shadow: 
        2px 0px 4px var(--white),
        0px -2px 4px var(--white),
        0px 2px 4px var(--white),
        -2px 0px 4px var(--white);
    box-shadow: 
        0px 0px 4px var(--white);
}

button::after {
    content: '';
    position: absolute;
    background-color: var(--white);
    left: -10%;
    bottom: -.9em;
    height: 50%;
    width: 120%;
    transform: scaleY(0);
    filter: blur(.4em);
    opacity: 0;
    transform-origin: top;
    transition: all 500ms ease;
}

button:hover::after,
button:focus::after {
    transform: scaleY(.3);
    opacity: 1;
    outline: none;
}



/* NAVBAR */
/* NAVBAR */
/* NAVBAR */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--black);
    border-bottom: 2px solid var(--darkRed);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 4rem;
    padding: 0 4rem;
}

.brand {
    display: flex;
    height: auto;
    align-self: center;
    font-size: 1.5em;
    font-weight: 900;
    color: var(--white);
}

.brand span {
    font-weight: 300;
}

.brand:hover {
    cursor: none;
    animation-name: flipspin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.nav-menu {
    align-self: center;
}

.menu-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.menu-item:not(:first-of-type) {
    margin-left: .5em;
}

.menu-item {
    position: relative;
}

.menu-link {
    color: var(--white);
    font-weight: 300;
    padding: 1em;
    text-shadow: none;
    transition: all 500ms ease;
}

.menu-link:hover,
.menu-link:focus {
    text-shadow: 
        2px 0px 4px var(--white),
        0px -2px 4px var(--white),
        0px 2px 4px var(--white),
        -2px 0px 4px var(--white);
    outline: none;
}

.menu-link::after {
    content: '';
    position: absolute;
    background-color: var(--white);
    left: 10%;
    height: 60%;
    width: 80%;
    top: 90%;
    transform: scaleY(0);
    filter: blur(.4em);
    opacity: 0;
    transform-origin: top;
    transition: all 500ms ease;
}

.menu-link:hover::after,
.menu-link:focus::after {
    transform: scaleY(.3);
    opacity: 1;
}

.current-page {
    position: relative;
    pointer-events: none;
}

.current-page::before {
    position: absolute;
    content: '';
    height: .5px;
    width: calc(100% - 2em);
    background-color: var(--white);
    top: 1.2em;
    left: 1em;
    z-index: 10;
}

#themes {
    align-self: center;
}

.themes-menu {
    position: absolute;
    right: calc(5% - 30px);
    top: calc(4rem - 2px);
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    width: 180px;
    padding: calc(30px - .5em) 0;
    border-left: 2px solid var(--darkRed);
    border-right: 2px solid var(--darkRed);
    border-bottom: 2px solid var(--darkRed);
    transform: scaleY(0);
    transform-origin: top;
    transition: all 500ms ease;
}

.open {
    transform: scaleY(1);
}

.themes-option {
    margin: .5em auto;
}

@keyframes flipspin {
    0% {transform: rotateY(2deg) rotateZ(0deg)}
    25% {transform: rotateY(88deg) rotateZ(6deg)}
    50% {transform: rotateY(180deg) rotateZ(0deg)}
    75% {transform: rotateY(88deg) rotateZ(-6deg)}
    100% {transform: rotateY(2deg) rotateZ(0deg)}
}



/* HERO AREA */
/* HERO AREA */
/* HERO AREA */
  
.hero-area {
    margin: 4rem;
    height: fit-content;
    padding: 2rem 4rem;
    border: 2px var(--darkRed) solid;
    box-shadow: inset 0 0 40px 40px rgba(14, 5, 5, 0.3);
}

.hero-text {
    display: grid;
    place-items: center;
    font-size: 3.5rem;
    text-align: center;
    line-height: 1.5;
    margin: 0;
}



/* SKILLS AREA */
/* SKILLS AREA */
/* SKILLS AREA */

.skills-area {
    display: grid;
    grid-template-columns: 1fr 4rem 1fr 4rem 1fr;
    padding: 4rem;
    background-color: var(--black);
    border-top: 2px var(--darkRed) solid;
    border-bottom: 2px var(--darkRed) solid;
}

[class*="col"] {
    text-align: center;
}

.col-1 {
    grid-column-start: 1;
}

.col-2 {
    grid-column-start: 3;
}

.col-3 {
    grid-column-start: 5;
}

.tech-title {
    font-weight: 700;
    margin: 0 0 1em;
}

.tech-list {
    padding: 0;
    font-weight: 300;
}

.tech-item i {
    margin-left: 1em;
}

.tech-item:not(:last-child) {
    margin-bottom: .75em;
}



/* PLAYGROUND */
/* PLAYGROUND */
/* PLAYGROUND */

.playground {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 4rem;
    margin: 4rem;
}

.playground-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    min-width: 260px;
    padding: 2rem;
    border: 2px var(--darkRed) solid;
    background-color: var(--black);
    text-align: center;
}

.project-title {
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
}

.project-image {
    margin: 1rem auto;
}

.project-text {
    font-weight: 300;
}



/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer {
    width: 100%;
    background-color: var(--black);
    border-top: 2px solid var(--darkRed);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 4rem;
    padding: 0 4rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.links-option {
    margin-left: 2em;
}

.links-option a {
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.links-option a:focus {
    outline: none;
}

.links-option a:focus p {
    text-shadow: 
        2px 0px 4px var(--white),
        0px -2px 4px var(--white),
        0px 2px 4px var(--white),
        -2px 0px 4px var(--white);
}

.links-option p {
    position: relative;
    font-size: .85rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 500ms ease;
}

.links-option:hover p,
.links-option:focus p {
    text-shadow: 
        2px 0px 4px var(--white),
        0px -2px 4px var(--white),
        0px 2px 4px var(--white),
        -2px 0px 4px var(--white);
    outline: none;
}

.links-option p::after {
    content: '';
    position: absolute;
    background-color: var(--white);
    left: 0;
    bottom: -55%;
    height: 60%;
    width: 100%;
    transform: scaleY(0);
    filter: blur(.4em);
    opacity: 0;
    transform-origin: top;
    transition: all 500ms ease;
}

.links-option:hover p::after,
.links-option:focus p::after {
    transform: scaleY(.3);
    opacity: 1;
}

.footer i {
    margin-right: .5rem;
}