/* CLEAROUTS, RESETS, PRESETS */
/* CLEAROUTS, RESETS, PRESETS */
/* CLEAROUTS, RESETS, PRESETS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --black: rgb(44, 44, 44);
    --white: rgb(255, 255, 255);
    --lightBlue: rgb(130, 176, 236);
    --darkBlue: rgb(9, 73, 156);

    --font-main: 'Raleway', sans-serif;
    --font-secondary: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    font-size: 16px;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* outline: red 1px solid; */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#site-topper {
    height: 4rem;
    width: 100%;
}

#site-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    height: fit-content;
}

.bg {
    background: var(--lightBlue);
}

h1, h2, p {
    margin: 0;
}



/* BUTTONS */
/* BUTTONS */
/* BUTTONS */

button {
    position: relative;
    box-sizing: border-box;
    padding: .25em;
    min-width: 120px;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 800;
    background-color: var(--white);
    color: var(--darkBlue);
    border: 2px solid var(--darkBlue);
    cursor: pointer;
}

button:hover,
button:focus {
    color: var(--white);
    background: var(--lightBlue);
}



/* NAVBAR */
/* NAVBAR */
/* NAVBAR */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--white);
    border-bottom: 2px solid var(--darkBlue);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 4rem;
    padding: 0 4rem;
    z-index: 10;
}

.brand {
    display: flex;
    height: auto;
    align-self: center;
    font-size: 1.5em;
    font-weight: 800;
    color: var(--black);
}

.designs {
    font-weight: 100;
    align-self: center;
}

.brand:hover {
    cursor: none;
    animation-name: flipspin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.nav-menu {
    align-self: center;
}

.menu-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.menu-item:not(:first-of-type) {
    margin-left: .5em;
}

.menu-item {
    position: relative;
    transform: scale(1);
    transition: all 250ms ease-in-out;
}

.menu-item:hover {
    transform: scale(1.4);
}

.menu-link {
    color: var(--black);
    font-weight: 400;
    padding: 1em;
    transition: all 250ms ease-in-out;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--darkBlue);
}

.current-page {
    font-weight: bold;
    position: relative;
    pointer-events: none;
}

#themes {
    align-self: center;
}

.themes-menu {
    position: absolute;
    right: calc(5% - 30px);
    top: calc(4rem - 2px);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 180px;
    padding: calc(30px - .5em) 0;
    border-left: 2px solid var(--darkBlue);
    border-right: 2px solid var(--darkBlue);
    border-bottom: 2px solid var(--darkBlue);
    transform: scaleY(0);
    transform-origin: top;
    transition: all 250ms ease;
}

.open {
    transform: scaleY(1);
}

.themes-option {
    margin: .5em auto;
}

@keyframes flipspin {
    0% {transform: rotateY(2deg) rotateZ(0deg)}
    25% {transform: rotateY(88deg) rotateZ(6deg)}
    50% {transform: rotateY(180deg) rotateZ(0deg)}
    75% {transform: rotateY(88deg) rotateZ(-6deg)}
    100% {transform: rotateY(2deg) rotateZ(0deg)}
}



/* HERO AREA */
/* HERO AREA */
/* HERO AREA */
  
.hero-area {
    min-width: 80%;
    margin: 8rem;
    height: fit-content;
    padding: 1.5rem 2.5rem;
    border: 9px solid var(--darkBlue);
}

.hero-text {
    display: grid;
    place-items: center;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.4;
    margin: 0;
    color: var(--darkBlue);
}

.span1 {
    justify-self: start;
}

.span2 {
    justify-self: center;
}

.span3 {
    justify-self: end;
}



/* MAIN AREA */
/* MAIN AREA */
/* MAIN AREA */

.main {
    width: 100%;
    height: 120vh;
    display: grid;
    place-items: center;
}

.white {
    background-color: var(--white);
}

.dark {
    background-color: var(--darkBlue);
}

.light {
    background-color: var(--lightBlue);
}



/* BLURB 1 */

.blurb1 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "title . image"
        "text . image";
    background-color: var(--darkBlue);
    color: var(--white);
    height: auto;
    width: 60%;
    padding: 3rem 3.5rem;
    outline: 9px solid var(--lightBlue);
    outline-offset: -18px;
}

.blurb1::before {
    position: absolute;
    content: '';
    width: 9px;
    height: 50%;
    background-color: var(--lightBlue);
    left: 50%;
    bottom: calc(100% - 10px);
    transform: translateX(-50%);
}

.blurb1::after {
    position: absolute;
    content: '';
    width: 9px;
    height: 50%;
    background-color: var(--darkBlue);
    left: 70%;
    bottom: -50%;
}

.blurb1-title {
    font-size: 2.4em;
    grid-area: title;
    place-self: start;
}

.blurb1-text {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 1em 0 0;
    grid-area: text;
    place-self: start;
}

.blurb1-image {
    height: auto;
    width: auto;
    border-radius: 50%;
    grid-area: image;
    place-self: center end;
}



/* BLURB 2 */

.blurb2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "title title"
        "list1 list2";
    background-color: var(--lightBlue);
    color: var(--white);
    height: auto;
    width: 70%;
    padding: 3rem 3.5rem;
    outline: 9px solid var(--white);
    outline-offset: -18px;
}

.blurb2::before {
    position: absolute;
    content: '';
    width: 9px;
    height: 90%;
    background-color: var(--white);
    left: 30%;
    top: calc(-90% + 10px);
}

.blurb2::after {
    position: absolute;
    content: '';
    width: 9px;
    height: 90%;
    background-color: var(--white);
    left: 30%;
    bottom: calc(-90% + 10px);
}

.blurb2-outline-breaker {
    position: absolute;
    height: 9px;
    width: 9px;
    background-color: var(--lightBlue);
}

.b2ob1 {
    top: 9px;
    left: calc(30% - 9px);
}

.b2ob2 {
    bottom: 9px;
    left: calc(30% + 9px);
}

.blurb2-title {
    font-size: 2.4em;
    margin: 0 0 .75em;
    grid-area: title;
}

.tech-list {
    flex-direction: column;
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.list1 {
    grid-area: list1;
}

.list2 {
    grid-area: list2;
}

.blurb2-title,
.tech-list {
    display: flex;
    justify-content: center;
    text-align: center;
}

.tech-item:not(:last-of-type) {
    margin-bottom: .5em;
}

.tech-item i {
    margin-left: .5em;
    font-size: 1.6em;
}



/* BLURB 3 */

.blurb3 {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--darkBlue);
    color: var(--white);
    height: auto;
    width: 60%;
    padding: 3rem 3.5rem;
    outline: 9px solid var(--lightBlue);
    outline-offset: -18px;
}

.blurb3::before {
    position: absolute;
    content: '';
    width: 9px;
    height: 50%;
    background-color: var(--darkBlue);
    left: 70%;
    bottom: calc(100% - 9px);
}

.blurb3::after {
    position: absolute;
    content: '';
    width: 9px;
    height: 50%;
    background-color: var(--lightBlue);
    left: 50%;
    bottom: calc(-50% + 10px);
    transform: translateX(-50%);
}

.blurb3-title {
    font-size: 2.4em;
    margin: 0 0 .75em;
}



/* BLURB 4 */

.blurb4 {
    width: 80%;
    margin: 8rem;
    height: fit-content;
    padding: 1.5rem 2.5rem;
    border: 9px solid var(--darkBlue);
}



/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer {
    width: 100%;
    background-color: var(--white);
    border-top: 2px solid var(--darkBlue);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 4rem;
    padding: 0 4rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.links-option {
    margin-left: 4em;
}

.links-option a {
    color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    transform: scale(1);
    transition: all 250ms ease-in-out;
}

.links-option p {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
}

.links-option a:hover {
    transform: scale(1.4);
    color: var(--darkBlue)
}

.footer i {
    font-size: 1.25em;
    margin-right: .5rem;
}